body {
    background: rgb(184, 209, 195) !important;

    // background: rgb(183, 181, 185) !important;

}

.test {
    width: 400px;
    height: 500px;
    background: url("../images/404.jpg");
    background-size: cover;
    background-position: center;
}