body {
    background: rgb(184, 209, 195);

    @apply bg-violet-400;
}

.test {
    width: 400px;
    height: 500px;
    background: url("../../images/404.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-shadow: 20px 20px 20px rgb(193, 197, 130);
}